{% extends 'salon/base.html' %}
{% block title %}Rólunk - LovasHair{% endblock %}
{% block content %}
<div class="row my-5 align-items-center">
    <div class="col-md-6">
        <h2 class="text-warning mb-4">Rólunk</h2>
        <p class="lead">A LovasHair Professional fodrászatban küldetésünk, hogy minden hozzánk betérő hölgy magabiztosan és megújulva távozzon.</p>
        <p>Szalonunk Debrecen belvárosában prémium alapanyagokkal (Kérastase, L'Oréal Professional) és naprakész hajformázási technikákkal várja vendégeit. Legyen szó mindennapi ápolásról, divatos melírról vagy alkalmi frizuráról, nálunk a legmagasabb minőséget kapod.</p>
    </div>
    <div class="col-md-6 text-center">
        <img src="https://images.unsplash.com/photo-1522337360788-8b13dee7a37e?auto=format&fit=crop&w=600&q=80" class="img-fluid rounded-4 border border-warning" alt="Fodrászat rólunk">
    </div>
</div>
{% endblock %}